.navbar-button {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
    background-color: #1e1e1e;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .navbar-button:hover {
    background-color: #333;
  }

  .navbar-button .button-icon {
    background-color: #ff5722;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .navbar-button .button-icon i {
    color: #fff;
    font-size: 16px;
  }